<div ng-controller="PartialCtrl">
<header class="row">
    <div class="col-md-2 pull-left">
        <h1>
            <button
                 class="btn btn-default visible-xs-inline visible-sm-inline"
                 ng-click="menuIsCollapsed = !menuIsCollapsed">
                <i class="fa fa-bars"></i>
            </button>

            <img id="logo"
                src="/images/logo2.png"
                class="visible-md-inline visible-lg-inline">
            Steelfig
        </h1>
    </div>
    <div class="pull-left">
        <h3>Christmas Gift Exchange 2015</h3>
    </div>

    <div class="pull-right
                text-right
                col-md-3
                btn-group
                {{accountDropDownIsCollapsed ? '' : 'open'}}">
        <div ng-click="accountDropDownIsCollapsed = !accountDropDownIsCollapsed">
            <img ng-src="{{user.avatar}}" class="avatar" />
            {{user.name}}
        </div>
        <ul class="dropdown-menu">
            <li><a href="#">Sign Out</a></li>
        </ul>
    </div>
</header>

<ng-include src="'app/partials/menu.html'"></ng-include>
</div>
