<ng-include src="'app/partials/signedInHeader.html'"></ng-include>

<h3>Welcome</h3>

<div class="col-sm-offset-2">
    <p>
        Lots of updates made over last year! As always please let me know if you find a
        bug and I'll do my best to fix it.
    </p>
    <p>
        <strong>When:</strong> December 26th (Saturday) at 8:00 PM<br/>
        <strong>Where:</strong> Jen &amp; Khangs house
    </p>
    <p>
        In the mean time, please keep your RSVP up-to-date. Your RSVP:
        <button class="btn btn-info"
                ng-if="vm.myRSVP.status == 0"
                ng-click="vm.openRSVPModal()">
            <i class="glyphicon glyphicon-time"></i>
            {{vm.myRSVP.status | rsvpResponse}}
        </button>
        <button class="btn btn-success"
                ng-if="vm.myRSVP.status == 1"
                ng-click="vm.openRSVPModal()">
            <i class="glyphicon glyphicon-ok"></i>
            {{vm.myRSVP.status | rsvpResponse}}
        </button>
        <button class="btn btn-danger"
                ng-if="vm.myRSVP.status == 2"
                ng-click="vm.openRSVPModal()">
            <i class="glyphicon glyphicon-remove"></i>
            {{vm.myRSVP.status | rsvpResponse}}
        </button>
    </p>

    <h3>FAQs</h3>
    <p>
        <strong>How/when are names going to be drawn?</strong>
        They have already been drawn! Check your email.
    </p>
    <p>
        <strong>Any wishlist requirements?</strong>
        If you are participating, please add at least 5 items to your list but more is
        always better. Also remember the limit is $80!
    </p>
    <p>
        <strong>I want to participate together with my SO/mistresses.</strong>
        That sucks because names have already been drawn. They are welcome to come to the
        party on the 26th and join in the fun next year!.
    </p>
</div>
