<ng-include src="'app/partials/signedInHeader.html'"></ng-include>

<button class="btn btn-primary pull-right" ng-click="vm.edit()">
    Add Item</button>
<h3>My Wishlist</h3>

<div class="col-sm-offset-2">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Comment</th>
                <th>Price</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody ui-sortable="vm.sortListeners" ng-model="vm.items">
            <tr ng-repeat="item in vm.items">
                <td ng-if="item.url">
                    <a href="{{item.url}}" target="_blank">{{item.name}}</a>
                </td>
                <td ng-if="!item.url">{{item.name}}</td>
                <td>{{item.comments}}</td>
                <td>{{item.price | currency:$:2}}</td>
                <td>
                    <i class="glyphicon glyphicon-pencil" ng-click="vm.edit(item)"></i>
                    <i class="glyphicon glyphicon-trash"
                       ng-click="vm.delete(item)"
                       confirm="Are you sure you want to delete {{item.name}}?"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>
