<ng-include src="'app/partials/signedInHeader.html'"></ng-include>

<div ng-repeat="alert in vm.alerts">
    <div class="col-sm-offset-2 alert alert-{{alert.type}}">
        {{alert.msg}}
    </div>
</div>

<button class="btn btn-primary pull-right" ng-click="vm.newAttendeeModal()">
    Send Invite</button>
<h3 class="col-sm-offset-2" >Who's Going</h3>

<div class="col-sm-offset-2">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Comment</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="(i, attendee) in vm.attendees">
                <td>
                    <span ng-repeat="(j, user) in attendee.users">
                        <img ng-src="{{user.avatar ? user.avatar : '/images/default-avatar.png'}}"
                             class="avatar" tooltip-placement="top" tooltip="{{user.userName}}">
                    </span>
                    {{attendee.accountName}}
                </td>
                <td>
                    <attending-status status="attendee.status"></attending-status>
                </td>
                <td>{{attendee.comment}}</td>
                <td>
                    <span ng-if="vm.isUserInGroup(attendee) && attendee.users.length > 1">
                        <i class="fa fa-unlink" ng-click="vm.unlink()"></i>
                    </span>
                    <span ng-if="!vm.isUserInGroup(attendee)">
                        <i class="fa fa-link" ng-click="vm.link(attendee.accountId)"></i>
                        <i class="fa fa-envelope" ng-click="vm.sendMessage(attendee.accountId)"></i>
                        <i class="fa fa-list" ng-click="vm.showList(attendee.accountId)"></i>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
