<ng-include src="'app/partials/signedInHeader.html'"></ng-include>

<h3 class="col-sm-offset-2" >Schedule</h3>
<div class="col-sm-offset-2 alert alert-info">
    Please mark which days and times you are free.
</div>

<div class="col-sm-offset-2">
    <button class="btn btn-primary" ng-click="vm.back()">&lt;</button>
    <button class="btn btn-primary" ng-click="vm.forward()">&gt;</button>

    <div class="col-md-2">
        <table class="table scheduler">
            <thead>
                <tr><td>&nbsp;<br>&nbsp;</td></tr>
            </thead>
            <tbody>
                <tr><td>&nbsp;</td></tr>
                <tr ng-repeat="(i, attendee) in vm.attendees">
                    <td>{{attendee.accountName}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-2" ng-repeat="day in vm.days">
        <table class="table scheduler">
            <thead>
                <th colspan=3>
                    <span ng-bind-html="day | scheduleDate"></span>
                </th>
            </thead>
            <tbody>
                <tr>
                    <td>2:00</td>
                    <td>6:00</td>
                    <td>8:00</td>
                </tr>
                <tr ng-repeat="(i, attendee) in vm.attendees">
                    <td ng-if="attendee.accountId == account.id">
                        <input type="checkbox"
                               ng-click="vm.modifyAvailability(attendee, day, 14)"
                               ng-checked="vm.isAvailable(attendee, day, 14)" />
                    </td>
                    <td ng-if="attendee.accountId == account.id">
                        <input type="checkbox"
                               ng-click="vm.modifyAvailability(attendee, day, 18)"
                               ng-checked="vm.isAvailable(attendee, day, 18)">
                    </td>
                    <td ng-if="attendee.accountId == account.id">
                        <input type="checkbox"
                               ng-click="vm.modifyAvailability(attendee, day, 20)"
                               ng-checked="vm.isAvailable(attendee, day, 20)">
                    </td>

                    <td ng-if="attendee.accountId != account.id"
                        ng-class="{'yes': vm.isAvailable(attendee, day, 14),
                                   'no': !vm.isAvailable(attendee, day, 14)}">
                        <i class="fa fa-check" ng-if="vm.isAvailable(attendee, day, 14)"></i>
                        <i class="fa fa-close" ng-if="!vm.isAvailable(attendee, day, 14)"></i>
                    </td>
                    <td ng-if="attendee.accountId != account.id"
                        ng-class="{'yes': vm.isAvailable(attendee, day, 18),
                                   'no': !vm.isAvailable(attendee, day, 18)}">
                        <i class="fa fa-check" ng-if="vm.isAvailable(attendee, day, 18)"></i>
                        <i class="fa fa-close" ng-if="!vm.isAvailable(attendee, day, 18)"></i>
                    </td>
                    <td ng-if="attendee.accountId != account.id"
                        ng-class="{'yes': vm.isAvailable(attendee, day, 20),
                                   'no': !vm.isAvailable(attendee, day, 20)}">
                        <i class="fa fa-check" ng-if="vm.isAvailable(attendee, day, 20)"></i>
                        <i class="fa fa-close" ng-if="!vm.isAvailable(attendee, day, 20)"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
