/*************
 * General
 ************/
html, body {
    height: 100%;
    padding: 0 10px 0 5px;
}
.nav, .pagination, .carousel, .panel-title a, [ng-click] {
    cursor: pointer;
}
.loading {
    display: none;
}
.page-header {
    margin-top: 80px;
}

/*************
 * Widget
 ************/
/** Widget box **/
.widget {
    background-color: #fafafa;
    border: 1px solid #c9c9c9;
    border-radius: 3px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.widget .whead {
    border-bottom: 1px solid #ccc;
    color: #666;
    font-weight: bold;
    padding: 8px 15px;
}
.widget .wbody {
    background-color: #fefefe;
    padding: 8px 15px;
}

/*************
 * Header
 ************/
header {
    background-color: #ffffff;
}
header.row {
    margin-right: 0;
}
#logo {
    width: 40px;
}
.avatar {
    border-radius: 50%;
}

/*************
 * Login
 ************/
#login-box {
    background-color: #ffffff;
    border: 1px solid #d9534f;
    border-radius: 5px;
    color: #D9534F;
    font-size: 30px;
    height: 80px;
    padding: 20px;
    width: 360px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/*************
 * Menu
 ************/
#menu {
    padding-left: 0;
}

#menu ul {
    border-right: 1px solid #ccc;
    display: block;
    margin: 0;
    padding: 0;
}

#menu li {
    list-style-type: none;
    margin: 0;
    padding: 15px;
}
#menu li:hover {
    background-color: #eee;
}

#menu li > a {
    background: linear-gradient(center top , #f9f9f9, #f2f2f2) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #fff;
    box-shadow: 0 1px 1px #fff inset;
    color: #777;
    display: block;
    font-size: 13px;
    padding: 10px 20px;
    text-decoration: none;
}
#menu li i {
    background: none repeat scroll 0 0 #eee;
    border: 1px solid #ccc;
    border-radius: 30px;
    color: #888;
    display: inline-block;
    height: 38px;
    line-height: 38px;
    margin-right: 5px;
    text-align: center;
    width: 38px;
}

/*************
 * Body
 ************/
.main {
    float: left;
    margin-left: 10px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 75px;
}

/*************
 * Tabs
 ************/
.nav-tabs {
    display: inline-block;
    margin-bottom: 0;
    width: 100%;
}
.tab-content {
    border-color: #ddd;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    padding: 10px;
}

/*************
 * Tables
 ************/
tr.bold {
    font-weight: bold;
}
tr.strikeout td {
    position:relative
}
tr.strikeout td:before {
  content: " ";
  position: absolute;
  left: 0; top: 50%; width: 100%;
  border-bottom: 1px solid #999;
}

/*************
 * Messages
 ************/
#messages-list .tab-content {
    min-height: 250px;
}

/*************
 * Schedule
 ************/
.scheduler > tbody > tr > td {
    border-top: 0 none;
}
.scheduler thead td:first-child {
    background-color: #ffffff;
}
.scheduler thead th {
    background-color: #dce9fa;
}
.scheduler tbody td {
    text-align: center;
    border: 4px solid #ffffff;
}
.scheduler tbody td.no {
    background-color: #f7e9e8;
}
.scheduler tbody td.yes {
    background-color: #e3f1e2;
    color: #3c763d;
}

/*************
 * Wishlist
 ************/
table {
    table-layout: auto;
    width: 100%;
}
