<div class="modal-header">
    <button type="button" class="close" ng-click="vm.cancel()">&times;</button>
    <h4 class="modal-title">{{vm.title}}</h4>
</div>
<div class="modal-body">
    <div class="alert alert-warning">
        Messages never include the sender's name.
        Please don't include it in your message.
    </div>
    <form action="#" class="form-horizontal">
        <div class="form-group" ng-class="{'has-error': vm.errors.message}">
            <label for="message-text" class="col-sm-2 control-label">Message</label>
            <div class="col-sm-10">
                <textarea ng-model="message.message"
                          class="form-control"
                          rows="3"
                          name="message"></textarea>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <img src="/images/loading.gif"  ng-class="{loading: !vm.isLoading}">
    <button type="button" class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="vm.send(message)">Send</button>
</div>
